html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// * {
// box-sizing: border-box;
// }

#__next {
  display: flex;
  justify-content: center;
  background-color: #f2f4f7;
  min-height: 100vh;
}

